@font-face {
    font-family: runes;
    src: url('Acadian_Runes-Regular_PERSONAL_USE.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;

}

body {
    background: url('bg.png') no-repeat rgb(243, 243, 243) -24% 0;
    background-size: 50%;
}

.bg2 {
    width: 100%;
    height: 100%;
    background: url('bg2.png') no-repeat rgba(231,225,255,0.1) 89% 0;
    background-size: 43%;
    position: absolute;
    z-index: -6;
}

.content {
    width: 80%;
    position: static;
    left: 0;
    right: 0;
    margin: 0 auto;

}

header {
    width: 100%;
    opacity: 1;
    height: 235px;
}

header .logo {
    width: 150px;
    height: 150px;
    border: 1px dashed grey;
    line-height: 150px;
    text-align: center;
    float: left;
    margin: 5px 30px;
}

header .site-name {
    font-family: 'runes', sans-serif;
    color: rgb(255, 116, 58);
    font-weight: 700;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 78px;
    text-shadow: -4px 3px 0 #3A0800 , -14px 7px 0 rgba(0, 0, 0, 0.26);
}

header .site-name span {
    font-family: 'runes', sans-serif;
    color: rgb(243, 243, 243);
    text-shadow: 0 0 2px rgba(74, 10, 0, 0.85), -4px 3px 0 #3A0800 , -14px 7px 0 rgba(0, 0, 0, 0.26);
}

header .main-menu {
    list-style: none;
    text-align: center;
    clear: both;
    display: block;
    /*padding-top: 50px;*/

    height: 50px;
    line-height: 50px;
    position: relative;
    /*background: rgba(255,255,255,0.7);*/

}

header .main-menu li {
    display: inline-block;
    margin: 0 25px;
    /* width: 200px; */
    text-align: center;

}

header .main-menu li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
}



header .main-menu li a:hover {
    color: black;
    text-shadow: 0 0 4px #FFFFFF, 0 0 6px #FFFFFF;
}



.middle {
    height: 400px;
}

.middle .side-menu {
    float: left;
    width: 25%;
    margin: 0 25px 0 0;
    color: #FFFFFF;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
    height: 400px;
    background-color: rgba(17, 17, 17, 0.1);;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.middle .side-menu ul {
    list-style: none;
}

.middle .side-menu ul li {
    margin: 10px 0;
}

.middle .side-menu a {
    color: white;
    font-weight: 300;
    border-bottom: 1px dotted rgb(115, 115, 115);
}

.middle .side-menu a:hover {
    border-bottom: 2px dotted rgb(115, 115, 115);
}

.middle .main-content {
    float: left;
    width: 44%;
    display: block;
    /*height: 400px;*/
    text-align: center;
    background-color: rgba(17, 17, 17, 0.1);;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    box-sizing: border-box;
    padding: 20px;
}

.middle .left-content {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
    float: left;
    width: 23%;
    height: 100px;
    background-color: rgba(17, 17, 17, 0.1);
    box-shadow: 0 0 10px rgb(87, 87, 87);
    box-sizing: border-box;
    padding: 20px;
    margin-left: 25px;
    margin-top: 186px;
}

.middle .left-content ul {
    list-style: none;
}

.middle .left-content li {
    border-bottom: 1px dotted rgb(115, 115, 115);
    display: inline-block;
    margin-top: 6px;
    text-shadow: none;
    color: black;
    cursor: pointer;
}

.middle .left-content li:hover {
    border-bottom: 2px dotted rgb(115, 115, 115);
}

footer {
    text-align: center;
    width: 100%;
}

footer .duplicate-menu {
    list-style: none;
    text-align: center;
    clear: both;
    padding-top: 50px;
}

footer .duplicate-menu li {
    margin: 0 31px;
    display: inline-block;
}


footer .duplicate-menu a {
    color: #1B1B1B;
    border-bottom: 1px dotted rgb(115, 115, 115);
}

footer .duplicate-menu a:hover {
    border-bottom: 2px dotted rgb(115, 115, 115);
}

footer p {
    margin: 60px 0 20px;
}

.form{
    border: 2px solid gray;
    border-radius: 5px;
}

/*.gradient-transparent {*/
    /*background: -webkit-linear-gradient(top, rgba(41,41,41,0.8), rgba(41,41,41,1)); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(top, rgba(41,41,41,0.8), rgba(41,41,41,1)); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(top, rgba(41,41,41,0.8), rgba(41,41,41,1)); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(to top, rgba(41,41,41,0.8), rgba(41,41,41,1)); !* Standard syntax (must be last) *!*/
/*}*/

/*.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 0 100%, from(#030842), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(#030842, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(#030842, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
            -o-linear-gradient(#030842, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
            linear-gradient(to bottom, #030842, rgba(0, 0, 0, 0)) 1 100%;
}*/


.calc input {
    width: 90%;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(181, 180, 180);
}

.calc textarea {
    width: 90%;
    height: 130px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid rgb(181, 180, 180);
}

.calc .second label:first-of-type input {
    margin-top: 0;
}

.calc button {
    width: 90%;
    height: 40px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(181, 180, 180);
    background: #FFFFFF;

}

.calc button:hover {
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.3);
    background: transparent;
    /*color: #FFFFFF;*/
    /*text-shadow: 0 0 4px #000000, 0 0 6px #000000;*/
}

.calc h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
}

.calc .select2-container {
    width: 90% !important;
    height: 40px !important;
}

.select2-selection {
    height: 40px !important;
}

.select2-selection__rendered {
    line-height: 40px !important;
}

.select2-selection__arrow {
    height: 40px !important;
}

.select2-results__option {
    height: 40px !important;
    line-height: 40px !important;
}

label.error {
    color: #ff4b35;
    font-weight: 300;
    float: left;
    margin-left: 5%;
}

input.error {
    color: #ff4b35;
}

.notific8-notification {
    height: 50px !important;
}

.payments {
    margin-top: 25px;
}

.payments table tr {     height: 30px; }
.payments table{
    width: 100%;
    margin-top: 15px;
    color: #000000;
}